<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/sunshine">Analytics</a></li>
    <li><a ng-href="#/twitter">Social</a></li>
    <li><a ng-href="#/location">Location</a></li>
  </ul>
  <h3 class="text-muted">LV Food Truck</h3>
</div>

<div class="jumbotron">
  <h1>Food Truck Analytics</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure improving your business.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <h4>Gain More Followers</h4>
  <p>
    Get the word out to new customers without spending precious time.
  </p>

  <h4>Increase Sales</h4>
  <p>
    Use advanced analytics to make better decions about when and where to park your food truck
  </p>

  <h4>Save More Time</h4>
  <p>
    Automate your social media promotions so you can focus on delivery high quality food.
  </p>
</div>

<div class="footer">
  <p>♥ from the LV Cloud Team</p>
</div>
