<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/sunshine">Analytics</a></li>
    <li ><a ng-href="#/twitter">Social</a></li>
    <li><a ng-href="#/location">Location</a></li>
  </ul>
  <h3 class="text-muted">Analytics</h3>
</div>
<div class="row">
<div class="col-sm-4">
Payments: {{payments}}
</div>
<div class="col-sm-4">
Deliveries: {{deliveries}}
</div>
<div class="col-sm-4">

</div>
</div>
<graph-all data-dataconfig="allconfig"></graph-all>
<graph data="sunshine" data-dataconfig="sunshineconfig"></graph>
<graph data="pay" data-dataconfig="payconfig"></graph>
<graph data="deliver" data-dataconfig="deliverconfig"></graph>